<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Taka School Auction</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'register/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'register/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">



</head>
<body>

    <!-- Sing in  Form -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image" id="m">
                <figure><img src="{% static 'register/images/signin-image.jpg' %}" alt="sing up image"></figure>
                <a href="{% url 'authentication:user-login' %}" class="signup-image-link">User Login</a>
            </div>

            <div class="signin-form">
                <h2 class="form-title">Log in</h2>
                <form action="{% url 'authentication:admin-login' %}" method="POST" class="register-form" id="login-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="username" id="username" placeholder="name" required/>
                    </div>

                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="password" placeholder="Password"/>
                    </div>


                    <div class="form-group form-button">
                        <input type="submit" name="admin-login" id="login" class="form-submit" value="Log in"/>
                    </div>
                    
                </form>
                
            </div>
        </div>
    </div>
</section>


    <!-- JS -->
    <script src="{% static 'register/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'register/js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>


{% comment %} <!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Taka.School Auction | Login</title>


</head>

<body class="login-page">
<header>
    <section class="view login-bg">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'register/images/signin-image.jpg' %}" alt="sing up image"></figure>
                    <a href="{% url 'authentication:user-login' %}" class="signup-image-link">User Login</a>
                </div>
    
                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>
                    <form action="authentication:admin-login" method="POST" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="username" id="username" placeholder="Your Name"/>
                        </div>
    
                        <div class="form-group">
                            <label for="password"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="password" placeholder="Password"/>
                        </div>

                        <div class="form-group form-button">
                            <button type="submit" name="login" id="loginin" class="form-submit" value="Login"/>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        {% comment %} <div class="mask rgba-stylish-strong h-100 d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row d-flex justify-content-center p-5">
                    <div id="alert" class="wow fadeIn" data-wow-delay="0.5s"
                         style="position: absolute; top: 44px">
                        {% block alert %}
                            {% include 'partials/_alert.html' %}
                        {% endblock %}
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
                        <div class="card wow" data-wow-delay="0.5s">
                            <div class="card-body">
                                <!-- Header -->
                                <div class="form-header purple-gradient">
                                    <h3 class="font-weight-500 my-2 py-1"><i
                                            class="fas fa-user"></i>
                                        Admin Log in:</h3>
                                </div>
                                <!-- Body -->
                                <form method="POST"
                                      action="{% url 'authentication:admin-login' %}">
                                    {% csrf_token %}
                                    <div class="md-form">
                                        <i class="fas fa-user prefix white-text"></i>
                                        <input type="text" name="username"
                                               id="username"
                                               class="form-control validate"
                                               value="admin"
                                               required>
                                        <label for="username">Your
                                            username</label>
                                    </div>

                                    <div class="md-form">
                                        <i class="fas fa-lock prefix white-text"></i>
                                        <input type="password" name="password"
                                               id="admin-pass"
                                               class="form-control"
                                               value="admin"
                                               required>
                                        <label for="admin-pass">Your
                                            password</label>
                                    </div>

                                    <div class="text-center">
                                        <button type="submit"
                                                class="btn purple-gradient
                                                btn-lg">Log In
                                        </button>
                                    </div>
                                </form>

                                <div class="inline-ul text-center
                                    d-flex justify-content-center">
                                    <a href="{% url 'authentication:user-login' %}"
                                       class="waves-effect p-2 m-2
                                        fa-lg"
                                       style="color: #8EDEF8;">User Login?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
        
    </section>
</header>

<!-- SCRIPTS -->
<!-- Custom scripts -->
